@font-face {
    font-family: "myfont";
    src: url('./Jersey_10_Charted,Poppins,Rajdhani/Rajdhani/Rajdhani-Bold.ttf');
}
#div{
    top:0.5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    background: linear-gradient(45deg,rgb(177, 0, 204),rgba(255, 192, 203, 0.856));
    background-clip: text;
    color: transparent;
    font-size: 3em;
    font-style:italic;
    overflow: hidden;
}
#div::before{
    z-index: -10;
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.91),purple);
    animation: infinite linear 13s rot;
}
#div::after{
    position: absolute;
    content: '';
    inset: 1px;
    z-index: -5;
    background-color: #0D1F21;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



*{
    margin: 0;
    padding: 0;
}
img{
    z-index: -1;
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 30%;
}
body{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0D1F21;
}
.main-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 65em;
    width: 100%;
    height: 4em;
    border-radius: 50px 1px ;
    background-color: rgb(255, 255, 255, 0.5005);
    left: 0;
}
#size{
    position: absolute;
    color: aliceblue;
    top: 39.8em;   
    left: 50%;
    transform: translate(-50%,-50%);
}

.next{
    display: none;
    height: 50%;
}
.next textarea{
    position: absolute;
    background-color: transparent;
    border: 1px solid aqua;
    border-radius: 5px;
    top: 28.5em;
    max-height: 480px;
    max-width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 216, 254);
    animation: infinite linear fade 5S;
    scrollbar-width:none;
}
.next #nextbut{
    position: absolute;
    top: 8.5em;
    margin-left: 20%;
    padding: 10px 20px;
    border-radius: 1rem;
    border: none;
    background-color: aqua;    
    left: 50%;
    transform: translate(-50%,-50%);
}
.next button:hover{
    box-shadow: 0 0 5px aqua;
}
.next #email{
    position: absolute;
    top: 50.5em; 
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 18px;
    border-radius: 1rem;
    border: 1px solid aqua;
    background: transparent;
    color: aliceblue;
}
.next #del{
    position: absolute;
    top: 8.5em;
    padding: 10px 18px;
    border-radius: 1rem;
    border: none;
    background-color: rgb(255, 38, 38);    
    left: 83%;
    transform: translate(-50%,-50%);
    color: rgba(230, 243, 255, 0.845);
}
@media (max-width:550px) {
    .next #del{
        left: 90%;   
    }
}
.next #del:hover{
    box-shadow: 0 0 5px rgb(255, 38, 38);
}
#email::placeholder{
    color: aqua;
}
.next #send{
    position: absolute;
    top: 54em;
    padding: 8px 20px;
    border-radius: 1rem;
    border: none;
    background-color: aqua;    
    left: 50%;
    transform: translate(-50%,-50%);
}
.main{
    position: absolute;
    top: 50%;
    display: block;
    height: 200px;
    min-width: 350px;
    color: white;
    background: linear-gradient(45deg,rgba(41, 41, 41, 0.5),rgb(81, 30, 111));
    font-size: 0.98em;
    border-radius: 1rem;
    animation: infinite linear 3s fade;  
    border: 0.1px white solid; 
}
.main:hover{
    animation-play-state: paused;
}
@keyframes fade {
    0%{
        box-shadow: 0 0 1px rgba(255, 41, 234, 0.351) ;   
    }
    50%{
        box-shadow: 0 0 5px rgba(255, 41, 234, 0.351) , 0 0 75px rgba(255, 41, 234, 0.351);
    }
    100%{
        box-shadow: 0 0 5px rgba(255, 41, 234, 0.351)  ;
    }
}
.main h3{
    position: absolute;
    text-align: center;
    margin-top: 1.5em;
    width: 19em;
}
.main #span1{
    background: linear-gradient(45deg,blue,aqua);
    background-clip: text;
    color: transparent;
}
.main #span2{
    background: linear-gradient(45deg,red,yellow);
    background-clip: text;
    color: transparent;
}
.main input{
    position: absolute;
    padding: 8px 20px ;
    border-radius: 1rem;
    border: none;
    margin-top:6.5em;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
}
.main input:hover{
    border: 2px solid green;
}
#button{
    position: absolute;
    padding: 8px 20px ;
    border-radius: 1rem;
    border: none;
    margin-top:10em;
    left: 50%;
    transform: translate(-50%,-50%);
}
#button:hover{
    background:linear-gradient(45deg,yellow,orange) ;
    box-shadow: 0 0 5px orange, 0 0 15px orange  ;

}
#loading{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5em;
    height: 3em;
    border-radius: 2rem;
    background-color: black;
    z-index: -1;
    left: 1em;
    top: 5.8em;
    overflow: hidden;
}
#loading::before{
    position: absolute;
    content: "";
    background: linear-gradient(45deg,white,blue);
    width: 25px;
    height: 100px;
    filter: blur(10px);
    animation: infinite linear 1.5s rotate;
}
#loading::after{
    position: absolute;
    content: "";
    inset: 1.5px;
    background-color: black;
    border-radius: 2rem;
}
@keyframes rotate {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: rotate(360deg)
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(245deg)
    }
    100%{
        transform: rotate(90deg)
    }
}

.svg-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    left: 0;
    top: 0;
}

#back{
   height: 100%;
   width: 100%;
   animation: infinite roll 5s forwards linear;
   stroke-dasharray: 50;
}

#cir{
    position: fixed;
    left: -3em;
    top:-3em;
    stroke-dasharray: 10;
    animation: infinite cir_rot 5s linear;
}

@keyframes cir_rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
        stroke-dasharray: 5;
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-360deg);
        stroke-dasharray: 5;
    }
    100%{
        transform: rotate(0deg);
    }
}

.logo_main{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;

 }
 #logo{
     position: absolute;
     width: 80%;
 }
 .logo_main path:nth-child(1),.logo_main path:nth-child(3),
 .logo_main path:nth-child(4),.logo_main path:nth-child(5),
 .logo_main path:nth-child(6),.logo_main path:nth-child(7),
 .logo_main path:nth-child(8),.logo_main path:nth-child(9),
 .logo_main path:nth-child(10),.logo_main path:nth-child(12),
 .logo_main path:nth-child(13){
     animation: infinite 5s linear fade1 ;

 }
 .logo_main path:nth-child(11) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: infinite linear roll 5s;
 }
 .logo_main path:nth-child(2) {
     stroke-dasharray: 300;
     stroke-dashoffset: 300;
     animation: infinite linear roll 5s;
  }

 @keyframes roll {
     to{
         stroke-dasharray: 0;
     }
 }
 @keyframes fade1{
     0%{
         opacity: 100%;
     }
     50%{
         opacity: 50%;
     }
     100%{
         opacity: 100%;
     }
 }