@font-face {
    font-family: "myfont";
    src: url('./Jersey_10_Charted,Poppins,Rajdhani/Rajdhani/Rajdhani-Bold.ttf');
}
#div{
    top:0.5em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    background: linear-gradient(45deg,rgb(177, 0, 204),rgba(255, 192, 203, 0.856));
    background-clip: text;
    color: transparent;
    font-size: 2.5em;
    font-style:italic;
    overflow: hidden;
    border-radius: 5px;
}
@media (max-width:340px) {
    #div{
        font-size: 2em;
    }
}

#div::before{
    z-index: -10;
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.91),purple);
    animation: infinite linear 13s rot;
}
#div::after{
    position: absolute;
    content: '';
    inset: 1px;
    z-index: -5;
    background-color: #0D1F21;
    border-radius: 5px;
}

#div:hover{
    cursor: pointer;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}



*{
    margin: 0;
    padding: 0;
}
img{
    z-index: -1;
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 30%;
}
body{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0D1F21;
}
#size{
    position: absolute;
    color: aliceblue;
    top: 39.8em;   
    left: 50%;
    transform: translate(-50%,-50%);
}

#status{
    position:absolute;
    top:6.3em;
    color:rgb(255, 255, 255);
    left:1.6em;
   
}


.next{
    display: none;
    height: 50%;
}
.next textarea{
    position: absolute;
    background-color: transparent;
    border: 1px solid aqua;
    border-radius: 5px;
    top: 28.5em;
    max-height: 480px;
    max-width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 216, 254);
    animation: infinite linear fade 5S;
    scrollbar-width:none;
    backdrop-filter: blur(2px);
}
.next #nextbut{
    position: absolute;
    top: 8.5em;
    margin-left: 20%;
    padding: 10px 20px;
    border-radius: 1rem;
    border: none;
    background-color: aqua;    
    left: 50%;
    transform: translate(-50%,-50%);
}
.next button:hover{
    box-shadow: 0 0 5px aqua;
    cursor: pointer;
}
.next #email{
    position: absolute;
    top: 67.5em; 
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 38px;
    border-radius: 1rem;
    border: 1px solid aqua;
    background: transparent;
    color: aliceblue;
    backdrop-filter: blur(2px);
}
.next #del{
    position: absolute;
    top: 8.5em;
    padding: 10px 18px;
    border-radius: 1rem;
    border: none;
    background-color: rgb(255, 38, 38);    
    left: 83%;
    transform: translate(-50%,-50%);
    color: rgba(230, 243, 255, 0.845);
}


@media (max-width:550px) {
    .next #del{
        left: 90%;   
    }
}
.next #del:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 38, 38);
}
#email::placeholder{
    position: absolute;
    margin-left: -2em;
    color: aqua;
}
.next #send{
    position: absolute;
    top: 71em;
    padding: 8px 20px;
    border-radius: 1rem;
    border: none;
    background-color: aqua;    
    left: 50%;
    transform: translate(-50%,-50%);
}
.main{
    position: absolute;
    top: 50%;
    height: 200px;
    width: 350px;
    color: white;
    background: linear-gradient(45deg,rgba(41, 41, 41, 0.5),rgb(81, 30, 111));
    font-size: 0.98em;
    border-radius: 1rem;
    animation: infinite linear 3s fade;  
    border: 0.1px white solid;
}
.main:hover{
    animation-play-state: paused;
}
@keyframes fade {
    0%{
        box-shadow: 0 0 1px rgba(255, 41, 234, 0.351) ;   
    }
    50%{
        box-shadow: 0 0 5px rgba(255, 41, 234, 0.351) , 0 0 75px rgba(255, 41, 234, 0.351);
    }
    100%{
        box-shadow: 0 0 5px rgba(255, 41, 234, 0.351)  ;
    }
}
.main h3{
    text-align: center;
    margin-top: 1.5em;
}
.main #span1{
    background: linear-gradient(45deg,blue,aqua);
    background-clip: text;
    color: transparent;
}
.main #span2{
    background: linear-gradient(45deg,red,yellow);
    background-clip: text;
    color: transparent;
}
.main input{
    padding: 8px 20px ;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin: 20px 0 0 5.5em;
}
.main input:hover{
    border: 2px solid green;
}
#button{
    padding: 8px 20px ;
    border-radius: 1rem;
    border: none;  
    margin: 20px 0 0 10em;
}
#button:hover{
    background:linear-gradient(45deg,yellow,orange) ;
    box-shadow: 0 0 5px orange, 0 0 15px orange  ;
    cursor: pointer;

}
#loading{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5em;
    height: 3em;
    border-radius: 2rem;
    background-color:#0D1F21;
    z-index: -1;
    left: 1em;
    top: 5.5em;
    overflow: hidden;
}
#loading::before{
    position: absolute;
    content: "";
    background: linear-gradient(45deg,white,blue);
    width: 25px;
    height: 100px;
    filter: blur(10px);
    animation: infinite linear 0.5s rotate;
}
#loading::after{
    position: absolute;
    content: "";
    inset: 1.5px;
    background-color:#0D1F21;
    border-radius: 2rem;
}
@keyframes rotate {
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: rotate(360deg)
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(245deg)
    }
    100%{
        transform: rotate(90deg)
    }
}

.svg-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    left: 0;
    top: 0;
}

#back{
   height: 100%;
   width: 100%;
   animation: infinite roll 5s forwards linear;
   stroke-dasharray: 50;
}

#cir{
    z-index: -1;
    position: fixed;
    left: -3em;
    top:-3em;
    stroke-dasharray: 10;
    animation: infinite cir_rot 5s linear;
}

@keyframes cir_rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
        stroke-dasharray: 5;
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-360deg);
        stroke-dasharray: 5;
    }
    100%{
        transform: rotate(0deg);
    }
}

.logo_main{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1000;
 }
 #logo{
     position: absolute;
     width: 80%;
 }
 .logo_main path:nth-child(1),.logo_main path:nth-child(3),
 .logo_main path:nth-child(4),.logo_main path:nth-child(5),
 .logo_main path:nth-child(6),.logo_main path:nth-child(7),
 .logo_main path:nth-child(8),.logo_main path:nth-child(9),
 .logo_main path:nth-child(10),.logo_main path:nth-child(12),
 .logo_main path:nth-child(13){
     animation: infinite 5s linear fade1 ;

 }
 .logo_main path:nth-child(11) {
    stroke-dasharray: 572;
    stroke-dashoffset: 572;
    animation: infinite linear roll 5s;
 }
 .logo_main path:nth-child(2) {
     stroke-dasharray: 300;
     stroke-dashoffset: 300;
     animation: infinite linear roll 5s;
  }

 @keyframes roll {
     to{
         stroke-dasharray: 0;
     }
 }
 @keyframes fade1{
     0%{
         opacity: 100%;
     }
     50%{
         opacity: 50%;
     }
     100%{
         opacity: 100%;
     }
 }

 #mail_info p{
    top: 59.9em; 
    position: absolute;
    left: 50%; 
    transform: translate(-50%,-50%);
    color: #Ffd700;
    backdrop-filter: blur(5px);
    font-size: 0.9em;
    margin-left: -2em;
 }

#priv{
    z-index: 1;
    position: absolute;
    width: 100%;
    min-height: 200px;
    top: 50em;
    backdrop-filter:blur(3px);
}
#priv1{
    /* border: 1px solid rgb(251, 163, 0); */
    color: aliceblue;
}
#priv1 u{
    color: rgb(255, 200, 0);
    text-align: center;
}

#priv1 ol{
   color: #fff700;
   margin-top: 15px;
   padding: 5px;
   margin-left: 2em;
}

#priv1 ol li{
    padding: 5px;
 }


.main-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200%;
    width: 100%;
    height: 6em;
    background:linear-gradient(90deg,rgb(255, 0, 0, 0.2),black,rgba(191, 0, 255, 0.2));
    left: 0;
    backdrop-filter: blur(2px);
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

.main-sub p{
    position: absolute;
    font-size: 0.5em;
    bottom: 1em;
}

.main-sub h5:hover{
    cursor: pointer;
    color: rgb(0, 184, 184);
}
 
.main-sub .inner {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    top:0.8em;
}

.main-sub .inner svg{
    position: relative;
    margin-top: 6px;
    width: 25px;
    height: 25px;
    transform: scale(1);
    /* box-shadow: 6px 6px 20px 1px rgba(230, 243, 255, 0.845); */
}

.main-sub .inner svg:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.main-sub .inner u:hover{
     cursor: pointer;
     color: rgb(0, 184, 184);
}

.nd{
    border-radius: 50%;
}

 @media (max-width:375px) {
    #status{
        top: 7em;
        font-size: 0.85em;
    }
    .next #nextbut{
        margin-left: 18%;
        padding: 8px 17px;
    }
    .next #del{
        padding: 8px 17px;
    }
    #loading{
        height: 2em;
    }

    #mail_info p{
        top: 59.9em;
    }
    
    .main{
        height: 150px;
        width: 250px;
    }

    .main h3{
        font-size: small;
    }

    .main input{
        padding: 4px 10px ;
        margin: 20px 0 0 30px;
    }

    #button {
        padding: 6px 10px;
        margin: 20px 0 0 6.95em;
    }
 

}

@media (max-width:1000px) {
    .main-sub{
        top: 270%;
    }
}